<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AttendanceRegister.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>68CEA96868C4040F393081EEC0871211E1AC49B7</string>
				<key>dateExpires</key>
				<string>2021/08/06</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68CEA96868C4040F393081EEC0871211E1AC49B7</string>
						<key>dateExpires</key>
						<string>2021/08/06</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YFR6M67627</string>
						<key>name</key>
						<string>Nippon Information Industry Corp.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68CEA96868C4040F393081EEC0871211E1AC49B7</string>
						<key>dateExpires</key>
						<string>2021/08/06</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YFR6M67627</string>
						<key>name</key>
						<string>Nippon Information Industry Corp.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68CEA96868C4040F393081EEC0871211E1AC49B7</string>
						<key>dateExpires</key>
						<string>2021/08/06</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TrueTime.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YFR6M67627</string>
						<key>name</key>
						<string>Nippon Information Industry Corp.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YFR6M67627.atdr20180807</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YFR6M67627</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>YFR6M67627.atdr20180807</string>
				</array>
			</dict>
			<key>name</key>
			<string>AttendanceRegister.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3731403f-22ca-4045-bbb8-30e8c1edd552</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: atdr20180807</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YFR6M67627</string>
				<key>name</key>
				<string>Nippon Information Industry Corp.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
